<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주도 지도 🗺</title>
    <style>
        /* .wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
        .wrap * {padding: 0;margin: 0;} */
        .wrap .info {width:320px; height: 90px;}
        /* .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px rgb(116, 148, 229);} */
        /* .info .stay_close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');} */
        /* .info .close:hover {cursor: pointer;} */
        .info .body {position: relative; overflow: hidden;}
        .info .title {font-family: 'Malgun Gothic', dotum, '돋움'; text-align:center; padding: 10px; border-bottom: 1px solid 16px; font-weight:bold;}
        /* .info .title_s {font-family: 'Malgun Gothic', dotum, '돋움'; text-align:center; height: 30px; background: rgb(87, 168, 235); border-bottom: 1px solid rgb(33,150,243);font-size: 16px; font-weight:bold;} */
        /* .info .title_f {font-family: 'Malgun Gothic', dotum, '돋움'; text-align:center; height: 30px; background: #fc868a; border-bottom: 1px solid #ff6167;font-size: 16px;font-weight: bold;} */
        /* .info .title_p {font-family: 'Malgun Gothic', dotum, '돋움'; text-align:center; height: 30px; background: #facf4c; border-bottom: 1px solid #ffc107;font-size: 15px;font-weight: bold;} */
        /* .stay_info .stay_img {display:inline; top:10px; left:5px; width:90px; height:100px; overflow: hidden;} */
        .desc .address {font-family: 'Malgun Gothic', dotum, '돋움'; margin:10px 5px 5px 5px; text-align:center; font-size: 13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
        .desc .phoneno {font-family: 'Malgun Gothic', dotum, '돋움'; margin:5px 5px 5px 5px; text-align:center; font-size: 13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
        .info .close:hover {cursor: pointer;}
    </style>
    
</head>
<body>
    <h1> 제주🕺제주💃제주🍱제주도🏔 </h1>
    <!-- 지도 부분 -->
    <div id="map" style="width:800px; height:500px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1cc07b14640d842cd69b3e2343736a49"></script>
    <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
        mapOption = { 
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 10 // 지도의 확대 레벨
        };
    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
    var mapTypeControl = new kakao.maps.MapTypeControl();

    // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
    // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
    map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

    // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
    // 데이터 불러오기
    var positions = [];
        '{% for i in range(result[1])%}'
        x = Number('{{result[0][i]["latitude"]}}');
        y = Number('{{result[0][i]["longitude"]}}');
        tmp= {
            title:'{{result[0][i]["title"]}}',
            address:'{{result[0][i]["address"]}}',
            content : '{{result[0][i]["contentscd"]}}',
            roadaddress:'{{result[0][i]["roadaddress"]}}',
            phoneno:'{{result[0][i]["phoneno"]}}',
            // img: '{{result[0][i]["imgpath"]|tojson}}',
        latlng: new kakao.maps.LatLng(x,y)
        },
        selectedMarker = null;

    positions.push(tmp);
    '{%endfor%}'
   
    // 마커 이미지의 이미지 주소입니다
    var imageSrc_s = "https://cdn-icons-png.flaticon.com/512/727/727590.png"; //숙소
    var imageSrc_f =  "https://cdn-icons-png.flaticon.com/512/4108/4108022.png"; //음식
    var imageSrc_p = "https://cdn-icons-png.flaticon.com/512/727/727606.png"; //관광지

    var markers = [];
    var infowindows = [];
    for (var i = 0; i < positions.length; i ++) {
        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(25, 25); 
        // 마커 이미지를 생성합니다 
        if(positions[i].content === "숙박"){
            var markerImage = new kakao.maps.MarkerImage(imageSrc_s,imageSize);
        }else if (positions[i].content === "음식점"){
            var markerImage = new kakao.maps.MarkerImage(imageSrc_f,imageSize);
        }else{
            var markerImage = new kakao.maps.MarkerImage(imageSrc_p,imageSize); 
        }
        
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            image : markerImage, // 마커 이미지 
            clickable: true
        });
        markers.push(marker);

        var iwContent = '<div style="padding:5px;"></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            iwPosition = new kakao.maps.LatLng(33.450701, 126.570667), //인포윈도우 표시 위치입니다
            iwRemoveable = true;


        var contents = '<div class="wrap">' + 
                                '<div class="info">' + 
                                    '<div class="title" id="info_'+i+'">' + positions[i].title +
                                        '<div class="close" onclick="closeOverlay()" title="닫기"></div>'+'</div>' + 
                                        '<div class="body">' +   
                                            // '<div class="img">' + '<img src='+ positions[i].img + 'width="73" height="70">'+'</div>' + 
                                            '<div class="desc">' +  
                                                '<div class="address">' + positions[i].roadaddress.replace(/"/g,'') + '</div>' + 
                                                '<div class="phoneno">'+ positions[i].phoneno.replace(/"/g,'')+'</div>' +
                                            '</div>'+
                                        '</div>' +  
                                    '</div>' + 
                                '</div>' + 
                            '</div>';

        // 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            content : contents,
            removable : iwRemoveable
        });
        infowindows.push(infowindow);

        // 마커 클릭하면 인포윈도우
        kakao.maps.event.addListener(marker, 'click', makeClickListener(map, marker, infowindow, i));
        }
        windowChecker = undefined;
        // /marker click event/
        function makeClickListener(map, marker, infowindow, i) {
            return function() {
            var moveLatLng = new kakao.maps.LatLng(positions[i].latlng.Ma, positions[i].latlng.La);   
                map.setCenter(new kakao.maps.LatLng(positions[i].latlng.Ma, positions[i].latlng.La));
                map.panTo(moveLatLng);
                map.setLevel(5);

            if(windowChecker != undefined){
                infowindows[windowChecker].close(map,markers[windowChecker]);
            }
            infowindow.open(map, marker);
            windowChecker = i;
            
            console.log(positions[i].latlng)
            if(positions[i].content == "숙박" ) {
                document.querySelector("#info_"+i).style.background = 'rgb(87, 168, 235)'
            
            }else if(positions[i].content == "음식점"){
                document.querySelector("#info_"+i).style.background = '#fc868a'
                       
            }else{
                document.querySelector("#info_"+i).style.background = '#facf4c' //className = 'info title_p'       
            }
            
            };
           
        } 
    </script>
   
   
</body>
</html>