<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="./css/bootstrap.min.css"> -->
    <style>
        /* 지도 인포 팝업 */
        .wrap .info {width:320px; height: 110px;}
        .info .body {position: relative; overflow: hidden;}
        .info .title {font-family: 'Malgun Gothic', dotum, '돋움'; text-align:center; padding: 10px; font-weight:bold;}
        .desc .address {font-family: 'Malgun Gothic', dotum, '돋움'; margin:10px 5px 5px 5px; text-align:center; font-size: 13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
        .desc .phoneno {font-family: 'Malgun Gothic', dotum, '돋움'; margin:5px 5px 5px 5px; text-align:center; font-size: 13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
        .info .close:hover {cursor: pointer;}

        /* 지도 카테고리 버튼 */
        .category {position:absolute;top:10px;left:10px;width:230px;height:60px;z-index:10; font-family:'Malgun Gothic','맑은 고딕',sans-serif;font-size:12px;text-align:center;background-color:#fff;border-radius: 4px;}

        /* 스크롤바 스타일 */
        .scrollBar { 
        /* width: 400px; */
        /* height: 200px; */
        overflow-y: scroll;
        }

        .scrollBar::-webkit-scrollbar {
            width: 10px;  /* 스크롤바의 너비 */
        }
        
        .scrollBar::-webkit-scrollbar-thumb {
            height: 30%; /* 스크롤바의 길이 */
            background: #217af4; /* 스크롤바의 색상 */
            
            border-radius: 10px;
        }

        .scrollBar::-webkit-scrollbar-track {
            background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
        }
    </style>
    <title>제주도 지도 🗺</title>
    
</head>
<body>
    <div class="container-fluid" style="padding: 0;">
        <div class="row">
            <!-- 장소명 테이블 -->
            <div class="scrollBar" style="overflow-x:hidden; overflow-y:scroll; height:700px; width:400px;">
                <div class="about_text" >
                    <table class="table table-hover">
                        <tbody id="jeju_list">
                        </tbody> 
                    </table>
                    <script>
                        // 리스트 추가 함수
                        var add_list = []
                        var linePath = [];
                        var idChecker = [];
                        var tmpPoly;

                        function add_btn(click_id) {
                            var title = document.querySelector("#"+click_id).value.trim()
                            var tag = positions[click_id.split('_')[1]].tag.split(',').slice(0,5)
                            document.querySelector('#selected_title').innerHTML = ''
                            
                            // 선 지우기
                            if(tmpPoly != undefined) {
                                tmpPoly.setMap(null);
                            }

                            // 버튼 상태 변경
                            if(document.querySelector("#"+click_id).innerHTML == '추가') {
                                document.querySelector("#"+click_id).innerHTML = "선택";
                                document.querySelector("#"+click_id).className = 'btn btn-primary btn-sm'
                                add_list[title] = tag;

                                // 추가시 위도 경도 
                                x = positions[click_id.split('_')[1]].latlng.Ma;
                                y = positions[click_id.split('_')[1]].latlng.La;
                                linePath.push(new kakao.maps.LatLng(x, y));
                                idChecker.push(click_id);
                            }
                            else{
                                document.querySelector("#"+click_id).innerHTML = "추가";
                                document.querySelector("#"+click_id).className = 'btn btn-outline-primary btn-sm'
                                delete add_list[title];
                                let index = idChecker.indexOf(click_id);
                                // 추가 취소 시 배열에서 빼기
                                linePath.splice(index, 1);
                                idChecker.splice(index, 1);
                            }
                            //선 표시 
                            var polyline = new kakao.maps.Polyline({
                                            path: linePath, // 선을 구성하는 좌표배열 입니다
                                            strokeWeight: 2, // 선의 두께 입니다
                                            strokeColor: '#1478FF', // 선의 색깔입니다
                                            strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                                            strokeStyle: 'solid' // 선의 스타일입니다
                                        });
                            tmpPoly = polyline;
                            polyline.setMap(map);

                            // 선택된 장소 추가
                            for (var key in add_list) {
                                var selected =  '<div class="col-2" style="margin-top:10px;margin-bottom:5px"><img src="{{ url_for('static', filename='img/circle2.png')}}" height=25 width="25"></div>'+
                                                '<div class="col" style="margin-top:10px;margin-bottom:5px;word-break:keep-all;"><b>'+key+'</b></div>'+
                                                '<div class="w-100"></div>'+
                                                '<div class="col-2" style="margin-top:5px;margin-bottom:5px"><img src="{{ url_for('static', filename='img/minus2.png')}}" height=100% width="25"></div>'+
                                                '<div class="col" style="margin-top:5px;margin-bottom:5px;word-break:keep-all;">'+add_list[key]+'<br></div>'+
                                                '<div class="w-100"></div>'

                                document.querySelector('#selected_title').innerHTML += selected
                            }
                        }
                    </script>
                </div>
            </div>

            <!-- 지도 -->
            <div class="col-sm-7" style="padding: 0px;">
                <div id="map" style="width:100%;height:700px;">
                    <!-- 지도 위에 표시될 마커 카테고리 -->
                    <div class="category btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="category1" autocomplete="off" value='음식점' onclick="clickCategory()">
                        <label class="btn btn-outline-danger" for="category1">🍔<br>음식점</label>
                        
                        <input type="checkbox" class="btn-check" id="category2" autocomplete="off" value='관광지' onclick="clickCategory()">
                        <label class="btn btn-outline-warning" for="category2">🎡<br>관광지</label>
                        
                        <input type="checkbox" class="btn-check" id="category3" autocomplete="off" value='숙박' onclick="clickCategory()">
                        <label class="btn btn-outline-primary" for="category3">🏠<br>숙박</label>
                    </div>
                </div>

                <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e60591e1e917a164c421ab8844f09e08"></script>
                <script>

                var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
                    mapOption = { 
                        center: new kakao.maps.LatLng(33.375, 126.55), // 한라산 좌표
                        level: 10 // 지도의 확대 레벨
                    };

                var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
                
                // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
                // var mapTypeControl = new kakao.maps.MapTypeControl();
                // map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

                // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
                var zoomControl = new kakao.maps.ZoomControl();
                map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);


                // 마커를 표시할 위치와 title 객체 배열
                var allPositions = [];
                '{% for i in range(result[1]) %}'
                    x = Number('{{result[0][i]["latitude"]}}');
                    y = Number('{{result[0][i]["longitude"]}}');
                    tmp = {
                        title: '{{result[0][i]["title"]}}', 
                        tag: '{{result[0][i]["alltag"]}}',
                        address: '{{result[0][i]["address"]}}',
                        roadaddress:'{{result[0][i]["roadaddress"]}}', 
                        phoneno: '{{result[0][i]["phoneno"]}}', 
                        content : '{{result[0][i]["contentscd"]}}',
                        img_thumb: '{{result[0][i]["thumbnailpath"]}}', 
                        latlng: new kakao.maps.LatLng(x, y)
                    };
                    allPositions.push(tmp);
                '{% endfor %}'

                // 카테고리 버튼 클릭 함수 =======================================================================================
                var positions = [];
                var checker = [];
                function clickCategory() {
                    positions = [];
                    delLocation(checker);
                    if(document.querySelector('#category1').checked){
                        positions = positions.concat(
                            allPositions.filter(function(obj) {
                                return (obj.content === "음식점");
                            })
                        );
                    }
                    if(document.querySelector('#category2').checked){
                        positions = positions.concat(
                            allPositions.filter(function(obj) {
                                return (obj.content === "관광지" || obj.content === "쇼핑" || obj.content === "축제/행사");
                            })
                        );
                    }
                    if(document.querySelector('#category3').checked){
                        positions = positions.concat(
                            allPositions.filter(function(obj) {
                                return (obj.content === "숙박");
                            })
                        );
                    }
                    createMarker();

                    // 왼쪽 리스트 추가
                    document.querySelector('#jeju_list').innerHTML = ""
                    for (var i=0; i < positions.length; i++) {
                        var jejuList =  '<tr>' +
                                            '<td><a onclick="openwindow(markers['+ i +'], infowindows['+ i +'], '+ i +')"><img src="' + positions[i]["img_thumb"] + '" height="63" width="65"></a></td>'+
                                            '<td style="width: 200px; vertical-align:middle; word-break:keep-all; table-layout:fixed"><a onclick="openwindow(markers['+ i +'], infowindows['+ i +'], '+ i +')">' + positions[i]["title"] + '</a></td>'+
                                            '<td style="vertical-align:middle; padding-right: 0px;"><button type="button" class="btn btn-outline-primary btn-sm" id="btnId_'+ i +'" onClick="add_btn(this.id)" value="' + positions[i]["title"] + '">추가</button></td>'
                                        '</tr>'
                        // console.log(positions[i])
                        document.querySelector('#jeju_list').innerHTML += jejuList

                        if(positions[i]["title"] in add_list) {
                            document.querySelector('#btnId_'+ i).innerHTML = "선택";
                            document.querySelector('#btnId_'+ i).className = 'btn btn-primary btn-sm'
                        }
                    }

                }
                // =======================================================================================


                // 마커 삭제 함수
                function delLocation(Loc) {
                    for(let i=0; i<Loc.length; i++) {
                        Loc[i].setMap(null);
                    }
                }

                // 마커 이미지의 이미지 주소
                var imageSrc_s = "https://cdn-icons-png.flaticon.com/512/727/727590.png"; //숙소
                var imageSrc_f =  "https://cdn-icons-png.flaticon.com/512/4108/4108022.png"; //음식
                var imageSrc_p = "https://cdn-icons-png.flaticon.com/512/727/727606.png"; //관광지

                // 마커 이미지의 이미지 크기 입니다
                var imageSize = new kakao.maps.Size(24, 25); 
                var infowindows = [];
                var markers = [];
                
                function createMarker() {
                    infowindows = [];
                    markers = [];

                    // 마커 생성
                    for (var i = 0; i < positions.length; i ++) {
                        
                        // 마커 이미지를 생성
                        if(positions[i].content === "숙박"){
                            var markerImage = new kakao.maps.MarkerImage(imageSrc_s,imageSize);
                        }else if (positions[i].content === "음식점"){
                            var markerImage = new kakao.maps.MarkerImage(imageSrc_f,imageSize);
                        }else{
                            var markerImage = new kakao.maps.MarkerImage(imageSrc_p,imageSize); 
                        }

                        var marker = new kakao.maps.Marker({
                            map: map, // 마커를 표시할 지도
                            position: positions[i].latlng, // 마커를 표시할 위치
                            image : markerImage, // 마커 이미지 
                            clickable: true
                        });
                        markers.push(marker);
                        checker.push(marker);

                        var contents = '<div class="wrap">' + 
                                            '<div class="info"">' + 
                                                '<div class="title" id="info_'+i+'">' + positions[i].title +
                                                    '<div class="close" onclick="closeOverlay()" title="닫기"></div>'+'</div>' + 
                                                    '<div class="body">' +   
                                                        // '<div class="img">' + '<img src='+ positions[i].img + 'width="73" height="70">'+'</div>' + 
                                                        '<div class="desc">' +  
                                                            '<div class="address">' + positions[i].roadaddress.replace(/"/g,'') + '</div>' + 
                                                            '<div class="phoneno">'+ positions[i].phoneno.replace(/"/g,'')+'</div>' +
                                                        '</div>'+
                                                    '</div>' +  
                                                '</div>' + 
                                            '</div>' + 
                                        '</div>',
                            iwRemoveable = true;

                        // 인포윈도우를 생성합니다
                        var infowindow = new kakao.maps.InfoWindow({
                            content : contents,
                            removable : iwRemoveable
                        });
                        infowindows.push(infowindow);

                        // 마커 클릭하면 인포윈도우
                        kakao.maps.event.addListener(marker, 'click', makeClickListener(map, marker, infowindow, i));
                    }
                }

                document.getElementById('category1').click();
                document.getElementById('category2').click();
                document.getElementById('category3').click();

                function infoColor(i){
                    // 카테고리에 따른 팝업 색 변경
                    if(positions[i].content == "숙박" ) {
                            document.querySelector("#info_"+i).style.background = 'rgb(87, 168, 235)'
                        }else if(positions[i].content == "음식점"){
                            document.querySelector("#info_"+i).style.background = '#fc868a'
                        }else{
                            document.querySelector("#info_"+i).style.background = '#facf4c' 
                        }
                }

                // 마커 클릭 이벤트 //
                windowChecker = undefined;
                function makeClickListener(map, marker, infowindow, i) {
                    return function() {
                        // 이동할 위도 경도 위치 생성
                        var moveLatLon = positions[i].latlng;
                        map.setCenter(moveLatLon);
                        // 지도 이동
                        // map.panTo(moveLatLon);
                        // 지도 확대
                        map.setLevel(6);

                        // 정보 팝업
                        if(windowChecker != undefined) {
                        infowindows[windowChecker].close(map, markers[windowChecker]);
                        }
                        infowindow.open(map, marker);
                        infoColor(i);
                        windowChecker = i;
                    };
                }

                function openwindow(marker, infowindow, i) {
                    
                    // 이동할 위도 경도 위치 생성
                    var moveLatLon = positions[i].latlng;
                        map.setCenter(moveLatLon);
                        // 지도 이동
                        // map.panTo(moveLatLon);
                        // 지도 확대
                        map.setLevel(6);

                    if(windowChecker != undefined) {
                        infowindows[windowChecker].close(map, markers[windowChecker]);
                    }
                    infowindow.open(map, marker);
                    infoColor(i);
                    windowChecker = i;
                }
                </script>
            </div>

            <!-- 선택 장소 div -->
            <div class="col-sm scrollBar" style="overflow-x:hidden; overflow-y:scroll; height:700px; padding: 5px;">
                <div class="about_text" id="selected_div">
                    <div class="row" id="selected_title"> </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>