{% extends 'base.html' %}
{% block mapList %}
<!-- 쿠키 js파일 -->
<script src="{{url_for('static',filename='js/cookie.js')}}"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e60591e1e917a164c421ab8844f09e08"></script>

<div style="padding: 0; margin: 0 auto 300px;">
    <span id="span_title" style="font-size: 18pt; font-weight: bold; display: block; margin-bottom: 10px"></span>
    <script>
        var region = '{{result[2]}}';
        document.querySelector('#span_title').innerHTML = (region ==  'je' ? '스마트파인더 - 제주시🍊' : '스마트파인더 - 서귀포시🌄');
        // 데이터 배열
        var food = [];
        var stay = [];
        var place = [];
        
        ('{% for i in range(result[1]) %}');
        x = Number('{{result[0][i]["y"]}}');
        y = Number('{{result[0][i]["x"]}}');
        tmp = {
            id: '{{result[0][i]["id"]}}',
            title: '{{result[0][i]["name"]}}'.replace("amp;","").trim(),
            tag: '{{result[0][i]["keywords"]}}',
            address:  '{{result[0][i]["fullRoadAddress"]}}',
            region : ('{{result[0][i]["fullRoadAddress"]}}'.search("제주시") >= 0 ? "제주시" : "서귀포시" ),
            phoneno: '{{result[0][i]["phone"]}}',
            content: '{{result[0][i]["contentscd"]}}', 
            description: '{{result[0][i]["description"]}}',
            hourinfo: '{{result[0][i]["bizhourInfo"]}}',
            menus : '{{result[0][i]["menus"]}}'.replace("&#39;","").trim(),
            categories : '{{result[0][i]["categories"]}}',
            menuImg : '{{result[0][i]["menuImages"]}}',
            img_thumb : '{{result[0][i]["imageURL"]}}',
            reviewcnt: '{{result[0][i]["reviewCount"]}}',
            sim_rank1: '{{result[0][i]["sim_rank1"]}}'.replace("amp;",""),
            sim_rank2: '{{result[0][i]["sim_rank2"]}}'.replace("amp;",""),
            sim_rank3: '{{result[0][i]["sim_rank3"]}}'.replace("amp;",""),
            latlng: new kakao.maps.LatLng(x, y),
        };
        ('{% if(result[0][i]["contentscd"] == "음식점") %}');
        food.push(tmp);
        ('{% elif(result[0][i]["contentscd"] == "숙박") %}');
        stay.push(tmp);
        ('{% else  %}');
        place.push(tmp);
        ('{% endif %}');
        ('{% endfor %}');
    </script>

    <!-- 모달 관련 함수 -->
    <script>
        //모달 열기
        function modalOpen(id) {
            modalOff();
            id = '#modal_'+id;
            $(id).addClass("modal_on");
            $(".modal_back").addClass("back_on");
            $("body").addClass("body_lock");
        }
        //모달 중앙정렬
        function modalCenter(){
                var modal_w = $(".modal").width()/2;
                $(".modal").css("margin-left", -modal_w);
                var modal_h = $(".modal").height()/2;
                $(".modal").css("margin-top", -modal_h);
        }
        //모달 끄기
        function modalOff(){
            $(".modal").removeClass("modal_on");
            $(".modal_back").removeClass("back_on");
            $("body").removeClass("body_lock");
        }
        //모달 정리 스크립트
        function modalClean() {
            $(window).resize(function(){
                modalCenter();
            });
            $(".modal_x").click(function(id){
                modalOff();
            });
            $(".modal_back").click(function(id){
                modalOff();
            });
            modalCenter();
        }
    </script>

    <!-- 카테고리 변경 로딩 스크립트 -->
    <script>
        function loading() {
            $('.category_back').addClass('category_back_on');
            $('body').addClass('body_lock');
            setTimeout(() => {
                createMarker();
                $('.category_back').removeClass('category_back_on');
                $('body').removeClass('body_lock');
            }, 100);
        }
    </script>

    <!-- 장소명 테이블 -->
    <div class="scrollBar" style="overflow-x: hidden; overflow-y: scroll; height: 630px; width: 345px; background-color: #fff; border-radius: 10px; position: absolute">
        <div class="about_text">
            <table class="table table-hover">
                <tbody id="jeju_list" style="border-radius: 10px"></tbody>
            </table>
            <script>
                // getCookie - 찜목록
                var add_list = [];
                const is_list = getCookie("addlist");
                if(is_list != null) {
                    var tmpList = is_list.split("//")
                    tmpList.pop()
                    for(var i of tmpList){
                        var tmpList2 = i.split(":");
                        var key = tmpList2[0].replace(",",'');
                        var val = tmpList2[1].split(",");
                        add_list[key] = val;
                    }
                }

                // getCookie - 찜목록 경로
                var linePath = [];
                const is_line = getCookie("addline");
                if(is_line != null) {
                    var tmpList = is_line.split("//")
                    tmpList.pop()
                    for(var i of tmpList){
                        x = i.split(",")[0];
                        y = i.split(",")[1];
                        linePath.push(new kakao.maps.LatLng(x, y));
                    }
                }

                // 찜 장소 추가 함수 (오른쪽)
                function addSelected(add_list){
                    for (var key in add_list) {
                            var selected =  '<div class="col-2" style="margin-top:10px;margin-bottom:5px">'+
                                            (food.findIndex((element) => element.title === key) >= 0
                                                ? '<img src="{{ url_for("static", filename="img/circle_r.png")}}" height=25 width="25">'
                                                : (place.findIndex((element) => element.title === key) >= 0
                                                    ? '<img src="{{ url_for("static", filename="img/circle_y.png")}}" height=25 width="25">'
                                                    : '<img src="{{ url_for("static", filename="img/circle_b.png")}}" height=25 width="25">'))
                                                +
                                            '</div>'+
                                            '<div class="col" onclick="document.querySelector(\'#List'+add_list[key].slice(-1)[0]+'\').click()" style="width: 180; margin-top:10px;margin-bottom:5px;word-break:break-all;"><b>'+ key +'</b></div>'+
                                            '<div class="w-100"></div>'+
                                            '<div class="col-2" style="margin-top:5px;margin-bottom:5px"><img src="{{ url_for("static", filename="img/line_b.png")}}" height=100% width="25" style="opacity: 0.7"></div>'+
                                            '<div class="col" style="font-size:13px; margin-top:5px; margin-bottom:5px; width: 180px; table-layout:fixed;">'+ add_list[key].slice(0,-1) +'<br></div>'+
                                            '<div class="w-100"></div>'
                            document.querySelector('#selected_title').innerHTML += selected
                        }
                }

                // 지도 선 생성 함수
                var tmpPoly;
                function createLine(linePath){
                    var polyline = new kakao.maps.Polyline({
                        path: linePath, // 선을 구성하는 좌표배열 입니다
                        strokeWeight: 2, // 선의 두께 입니다
                        strokeColor: '#1478FF', // 선의 색깔입니다
                        strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                        strokeStyle: 'solid' // 선의 스타일입니다
                    });
                    tmpPoly = polyline;
                    polyline.setMap(map);
                }
                
                // 찜하기 클릭 함수
                var idChecker = [];
                var selectedMarker = [];
                function addBtn(click_id) {
                    var title = document.querySelector("#"+click_id).value;
                    var tag = positions.find(x => x.id === click_id.split('_')[1]).tag.split(',').slice(0,5);
                    document.querySelector('#selected_title').innerHTML = '';
                    // 선 지우기
                    if(tmpPoly != undefined) {
                        tmpPoly.setMap(null);
                    }

                    // 버튼 상태 변경
                    if(document.querySelector("#"+click_id).checked) {
                        document.querySelector("#"+click_id).checked = true;
                        if(document.querySelector("#Info"+click_id)!=null){
                            document.querySelector("#Info"+click_id).checked = true;
                        }
                        add_list[title] = tag;
                        add_list[title].push(click_id);

                        // 추가시 위도 경도
                        x = positions.find(x => x.id === click_id.split('_')[1]).latlng.Ma;
                        y = positions.find(x => x.id === click_id.split('_')[1]).latlng.La;
                        linePath.push(new kakao.maps.LatLng(x, y));
                        idChecker.push(click_id);
                    }
                    else {
                        document.querySelector("#"+click_id).checked = false;
                        if(document.querySelector("#Info"+click_id)!=null){
                            document.querySelector("#Info"+click_id).checked = false;
                        }
                        delete add_list[title];
                        let index = idChecker.indexOf(click_id);
                        // 추가 취소 시 배열에서 빼기
                        linePath.splice(index, 1);
                        idChecker.splice(index, 1);
                    }

                    createLine(linePath)
                    addSelected(add_list);
                    
                    // Cookie 저장 - 찜리스트
                    var value = "";
                    for (var i in add_list){
                        if(value != "") value += ",";
                        value += i+":"+add_list[i]+"//";
                    }
                    setCookie("addlist", value, 1)

                    // Cookie 저장 - 라인 리스트
                    var val_line = "";
                    for (var i of linePath){
                        val_line += i['Ma'] + "," + i['La'] +"//";
                    }
                    setCookie("addline", val_line, 1)
                }

                // 인포창에서 하트(찜) 클릭시 함수
                function addInfoBtn(Info_click_id){
                    click_id = Info_click_id.replace("Info","")
                    if(document.querySelector("#"+Info_click_id).checked) {
                        document.querySelector("#"+click_id).checked=true;
                    }
                    else {
                        document.querySelector("#"+click_id).checked=false;
                    }
                    addBtn(click_id);
                }
            </script>
        </div>
    </div>

    <!-- 지도 -->
    <div>
        <div id="map" style="width: 690px; height: 630px; border-radius: 10px; position: absolute; margin-left: 355px">
            <!-- 지도 위에 표시될 마커 카테고리 -->
            <div class="category btn-group opacity-85" role="group" aria-label="Basic checkbox toggle button group">
                <input type="checkbox" class="btn-check" id="category1" autocomplete="off" value="음식점" onclick="clickCategory(document.getElementById('inputGroupRegion').value)" />
                <label class="btn btn-outline-danger" for="category1">🍔<br/>음식점</label>

                <input type="checkbox" class="btn-check" id="category2" autocomplete="off" value="관광지" onclick="clickCategory(document.getElementById('inputGroupRegion').value)" checked />
                <label class="btn btn-outline-warning" for="category2">🎡<br/>관광지</label>

                <input type="checkbox" class="btn-check" id="category3" autocomplete="off" value="숙박" onclick="clickCategory(document.getElementById('inputGroupRegion').value)" checked />
                <label class="btn btn-outline-primary" for="category3">🏠<br/>숙박</label>
            </div>
            <!-- 지도 지역 드롭다운 -->
                <div class="input-group mb-3" style="z-index: 2; top: 10px; width: 140px; left: 542px;">
                    <select class="form-select" name="order_status" id="inputGroupRegion">
                        <option value="제주도">🏝제주도</option>
                        <option value="제주시" id="status1">🍊제주시</option>
                        <option value="서귀포시" id="status2">&#127748;서귀포시</option>
                    </select>
                </div>
        </div>

        <script>
            region == 'je' ? document.querySelector('#status1').selected=true : document.querySelector('#status2').selected=true;
            document.getElementById("inputGroupRegion").addEventListener("change", function() {
                if(document.getElementById("inputGroupRegion").value === "제주시") {
                    region="제주시";
                    document.querySelector('#span_title').innerHTML = '스마트파인더 - 제주시🍊';
                }
                else if(document.getElementById("inputGroupRegion").value === "서귀포시") {
                    region="서귀포시";
                    document.querySelector('#span_title').innerHTML = '스마트파인더 - 서귀포시🌄';
                }
                else  {
                    region="제주도";
                    document.querySelector('#span_title').innerHTML = '스마트파인더 - 제주도🏝';
                }
                map.setCenter(new kakao.maps.LatLng(33.375, 126.55));
                map.setLevel(10);
                if(windowChecker != undefined){
                    infoClose();
                    windowChecker = undefined;
                }

                for(var i in add_list) {
                    if(positions.findIndex((element) => element.title === i) >= 0){
                        document.querySelector('#'+add_list[i].slice(-1)[0]).checked = false;
                    }
                }
                document.querySelector('#selected_title').innerHTML = "";
                deleteCookie("addlist");
                deleteCookie("addline");
                add_list = [];
                linePath = [];
                idChecker=[];
                tmpPoly.setMap(null);
                if(windowChecker != undefined){
                    infoClose();
                    windowChecker = undefined;
                }
                
                clickCategory(region);
                
            });

            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(33.375, 126.55), // 한라산 좌표
                    level: 10, // 지도의 확대 레벨
                };

            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
            // map.setMaxLevel(10);
            // map.setBounds((33.27468472204246, 125.97603087677453), (34.04423387381139, 127.39200174133641)); // 지도 이동 범위 제한

            // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
            // var mapTypeControl = new kakao.maps.MapTypeControl();
            // map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

            // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
            // var zoomControl = new kakao.maps.ZoomControl();
            // map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT)
            

            // 카테고리 버튼 클릭 함수
            var positions = [];
            var checker = [];
            windowChecker = undefined;
            function clickCategory(region) {
                if(windowChecker != undefined){
                    infoClose();
                    windowChecker = undefined
                }
                positions = [];
                delLocation(checker);
                if (document.querySelector('#category1').checked) {
                    positions = positions.concat(food);
                }
                if (document.querySelector('#category2').checked) {
                    positions = positions.concat(place);
                }
                if (document.querySelector('#category3').checked) {
                    positions = positions.concat(stay);
                }

                if (region != '제주도'){
                    positions=positions.filter(function(obj) {return (obj.region === region);})
                }
                
                // 로딩창 ON/OFF (내부에 createMarker함수 포함)
                loading();

                //모달 재정리
                modalClean();
            }

            // 마커 삭제 함수
            function delLocation(Loc) {
                for (let i = 0; i < Loc.length; i++) {
                    Loc[i].setMap(null);
                }
            }

            // 마커 이미지 주소
            var imageSrc_s = 'https://cdn-icons-png.flaticon.com/512/727/727590.png'; //숙소
            var imageSrc_f = 'https://cdn-icons-png.flaticon.com/512/4108/4108022.png'; //음식
            var imageSrc_p = 'https://cdn-icons-png.flaticon.com/512/727/727606.png'; //관광지

            // 마커 이미지 크기
            var imageSize = new kakao.maps.Size(24, 25);
            
            // 마커, 리스트 생성 함수
            var infowindows = [];
            var markers = [];
            function createMarker() {
                infowindows = [];
                markers = [];
                document.querySelector('#jeju_list').innerHTML = '';
                
                // 마커 생성
                for (var i = 0; i < positions.length; i++) {
                    // 마커 이미지를 생성
                    if (positions[i].content === '숙박') {
                        var markerImage = new kakao.maps.MarkerImage(imageSrc_s, imageSize);
                    } else if (positions[i].content === '음식점') {
                        var markerImage = new kakao.maps.MarkerImage(imageSrc_f, imageSize);
                    } else {
                        var markerImage = new kakao.maps.MarkerImage(imageSrc_p, imageSize);
                    }

                    var marker = new kakao.maps.Marker({
                        map: map, // 마커를 표시할 지도
                        position: positions[i].latlng, // 마커를 표시할 위치
                        image: markerImage, // 마커 이미지
                        clickable: true,
                    });
                    markers.push(marker);
                    checker.push(marker);

                    var contents =
                        '<div class="wrap">' +
                            '<div class="info"">' +
                                '<div class="title" id="info_' + positions[i].id + '">'+
                                    '<div style="position: absolute; height: 17px; "><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png" style="padding-bottom: 3px; margin-left:280px" onclick="infoClose();"></div>' +
                                    positions[i].title +
                                '</div>' +
                                '<div class="body">' +
                                    // '<div class="img">' + '<img src='+ positions[i].img + 'width="73" height="70">'+'</div>' +
                                    '<div class="desc">' +
                                        '<div class="address">' + positions[i].address.replace(/"/g, '') + '</div>' +
                                        '<div class="phoneno">' + positions[i].phoneno.replace(/"/g, '') + '</div>' +
                                        '<div class="phoneno">' +
                                            '<label class="heart-switch">' +
                                                '<input type="checkbox" id="InfobtnId_' +  positions[i].id + '" onClick="addInfoBtn(this.id)"' + (positions[i]['title'] in add_list ? 'checked' : '')  + '>' +
                                                '<svg viewBox="0 0 33 23" fill="white">' +
                                                    '<path d="M23.5,0.5 C28.4705627,0.5 32.5,4.52943725 32.5,9.5 C32.5,16.9484448 21.46672,22.5 16.5,22.5 C11.53328,22.5 0.5,16.9484448 0.5,9.5 C0.5,4.52952206 4.52943725,0.5 9.5,0.5 C12.3277083,0.5 14.8508336,1.80407476 16.5007741,3.84362242 C18.1491664,1.80407476 20.6722917,0.5 23.5,0.5 Z"></path>' +
                                                '</svg>' +
                                            '</label>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                        '</div>';

                    // 인포윈도우를 생성합니다
                    var infowindow = new kakao.maps.InfoWindow({
                        content: contents,
                    });
                    infowindows.push(infowindow);

                    // 마커 클릭하면 인포윈도우
                    kakao.maps.event.addListener(marker, 'click', makeClickListener(map, marker, infowindow, i, positions[i].id));
                    
                    // 이미지 없는놈들 귤로 만들어버리기
                    let img;
                    if (positions[i]['img_thumb'] == 'None') {
                        img = '../static/img/orange.png';
                    } else {
                        img = positions[i]['img_thumb'];
                    }
                    let imgSrc = '<div class="modal_img"><img src="'+img+'" style="border-radius: 100px; width: 200px; height: 200px; "></div><br>';

                    // 제주도 리스트 추가(왼쪽)
                    var jejuList =
                        '<tr id="trId_'+positions[i].id+'">' + 
                            '<td><a onclick="openwindow(markers[' + i + '], infowindows[' + i + '], ' + i + ', '+ positions[i].id+')"><img src="' + img + '" height="63" width="65" style="border-radius: 50px;"></a></td>' +
                            '<td style="vertical-align:middle; word-break:break-all; width: 226px; table-layout:fixed; ">'+
                                '<a id="ListbtnId_'+positions[i].id+'" onclick="openwindow(markers[' + i + '], infowindows[' + i + '], ' + i + ', '+ positions[i].id+')">' + positions[i]['title'] + '</a></td>' +
                            '<td style="vertical-align:middle; padding-right: 0px;">' +
                                '<label class="heart-switch">' +
                                    '<input type="checkbox" id="btnId_' +  positions[i].id + '" onClick="addBtn(this.id)" value="' + positions[i]['title'] + '"' + (positions[i]['title'] in add_list ? 'checked' : '') + '>' +
                                    '<svg viewBox="0 0 33 23" fill="white">' +
                                        '<path d="M23.5,0.5 C28.4705627,0.5 32.5,4.52943725 32.5,9.5 C32.5,16.9484448 21.46672,22.5 16.5,22.5 C11.53328,22.5 0.5,16.9484448 0.5,9.5 C0.5,4.52952206 4.52943725,0.5 9.5,0.5 C12.3277083,0.5 14.8508336,1.80407476 16.5007741,3.84362242 C18.1491664,1.80407476 20.6722917,0.5 23.5,0.5 Z"></path>' +
                                    '</svg>' +
                                '</label>' +
                            '</td>' +
                            '<td><a class="btnM" data-toggle="modal" onclick="modalOpen('+i+');">🔍</a>'+
                            // 숙박
                            ( positions[i].content ==='숙박'
                            ?'<div class="modal" id="modal_'+i+'">'+
                            '<div class="modal_x">닫기</div>'+
                            '<div class="modal_text">'+
                            '<p class="modal_t">'+positions[i].title+'</p>'+
                            imgSrc+'</div>'+
                            '<div class="modal_span">🏠 '+positions[i].categories+'<br>' +'🏠 '+positions[i].address+'<br>'+'📞 '+positions[i].phoneno+'<br>⏰ '+positions[i].hourinfo.replaceAll("|","<br>")+'<br><a href="'+positions[i].menuImg+'" target="_blank">📄 숙소 예약하기</a></div><hr>'+
                            '<div class="modal_info">📝</div>'+
                            '<div class="modal_info" style="text-align:left;">'+positions[i].description.replaceAll("|","<br>")+'</div>'+
                            '</div>'
                            // 음식점
                            :( positions[i].content === '음식점'
                            ?'<div class="modal" id="modal_'+i+'">'+
                            '<div class="modal_x">닫기</div>'+
                            '<div class="modal_text">'+
                            '<p class="modal_t">'+positions[i].title+'</p>'+
                            imgSrc+'</div>'+
                            '<div class="modal_span">🍽 '+positions[i].categories+'<br>' +'🏠 '+positions[i].address+'<br>'+'📞 '+positions[i].phoneno+'<br>'+'⏰<br>'+positions[i].hourinfo.replaceAll("|","<br>")+'</div>'+
                                '<div class="modal_info">'+
                                    '<div class="accordion" id="accordion'+i+'">'+
                                        '<div class="accordion-item">' +
                                            '<h2 class="accordion-header" id="heading'+i+'">'+
                                            '<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse'+i+'" aria-expanded="false" aria-controls="collapse'+i+'" style="padding-left:40%">' +
                                                '🍽메뉴🍽'+
                                            '</button>' +
                                            '</h2>' +
                                            '<div id="collapse'+i+'" class="accordion-collapse collapse" aria-labelledby="heading'+i+'" data-bs-parent="#accordion">' +
                                                '<div class="accordion-body">'+
                                                    positions[i].menus.replaceAll("/","<br>")+
                                                    '<a href="'+positions[i].menuImg+'" target="_blank">📄 메뉴이미지보기</a>'+
                                                '</div>' +
                                            '</div>' +
                                        '</div>' + 
                                    '</div><br>'+
                                    '<div>'+
                                        '<div>유사한 맛집🍽</div>'+
                                        '<div id="simId'+i+'" class="simClass"></div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'
                            // 관광지
                            :'<div class="modal" id="modal_'+i+'">'+
                            '<div class="modal_x">닫기</div>'+
                            '<div class="modal_text">'+
                            '<p class="modal_t">'+positions[i].title+'</p>'+
                            imgSrc+'</div>'+
                            '<div class="modal_span">🎡 '+positions[i].categories+'<br>' +'🏠 '+positions[i].address+'<br>'+'📞 '+positions[i].phoneno+'<br>'+'⏰<br>'+positions[i].hourinfo.replaceAll("|","<br>")+'</div>'+
                            '<div class="modal_info">'+
                                    '<div class="accordion" id="accordion'+i+'">'+
                                        '<div class="accordion-item">' +
                                            '<h2 class="accordion-header" id="heading'+i+'">'+
                                            '<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse'+i+'" aria-expanded="false" aria-controls="collapse'+i+'" style="padding-left:35%">' +
                                                '💵 입장료 💳'+
                                            '</button>' +
                                            '</h2>' +
                                            '<div id="collapse'+i+'" class="accordion-collapse collapse" aria-labelledby="heading'+i+'" data-bs-parent="#accordion">' +
                                                '<div class="accordion-body">'+
                                                    positions[i].menus.replaceAll("/","<br>")+
                                                '</div>' +
                                            '</div>' +
                                        '</div>' + 
                                    '</div><br>'+
                                    '<div class="modal_info" style="text-align:left;">'+positions[i].description.replaceAll("|","<br>")+'</div>'+
                                '</div>'+
                            '</div>')
                            )+
                            '</td>'+
                            '</tr>';

                            
                        document.querySelector('#jeju_list').innerHTML += jejuList;
                        if(document.querySelector('#simId'+i) != null) {
                            for(let j=1; j<4; j++){
                                let sim = positions[i]["sim_rank"+j];
                                if(sim != "None" & sim != ""){
                                    let simText = '<a href="https://map.naver.com/v5/smart-around/place/'+sim.split(",")[2]+'" target="_blank" style="color:black"><div class="simInnerDIV">'+
                                        '<img class="simInnerImg" src="'+(sim.split(",")[1]!="" ? sim.split(",")[1] : '../static/img/orange.png')+'"><br>'+
                                        '<span class="simInnerText">'+sim.split(",")[0]+'</span>'+
                                        '</div></a>';
                                    document.querySelector('#simId'+i).innerHTML += simText;
                                }
                                else{
                                    if(j==1){
                                        document.querySelector('#simId'+i).innerHTML += "아직 유사한 맛집이 없어요😂";
                                    }
                                    break;
                                }
                            }
                        }
                    }
            }


            function infoClose() {
                infowindows[windowChecker].close(map, markers[windowChecker]);
                circle.setMap(null);
            }

            function infoColor(i, map, marker) {
                // 카테고리에 따른 팝업 색 변경
                if (positions[i].content == '숙박') {
                    document.querySelector('#info_' +  positions[i].id).style.background = '#57A8EB';
                } else if (positions[i].content == '음식점') {
                    document.querySelector('#info_' +  positions[i].id).style.background = '#fc868a';
                } else {
                    document.querySelector('#info_' +  positions[i].id).style.background = '#facf4c';
                }
            }

            // 마커 클릭 이벤트 //
            var circle = new kakao.maps.Circle({});
            function makeClickListener(map, marker, infowindow, i, id) {
                return function () {
                    var moveLatLon = positions[i].latlng;
                    moveAndCircle(moveLatLon);

                    // 정보 팝업
                    if (windowChecker != undefined) {
                        infowindows[windowChecker].close(map, markers[windowChecker]);
                    }
                    infowindow.open(map, marker);
                    infoColor(i, map, marker);
                    windowChecker = i;

                    if(document.querySelector("#btnId_"+id).value in add_list){
                        document.querySelector("#InfobtnId_"+id).checked=true;
                    }
                    else {
                        document.querySelector("#InfobtnId_"+id).checked=false;
                    }
                };
            }

            function openwindow(marker, infowindow, i, id) {
                // 이동할 위도 경도 위치 생성
                var moveLatLon = positions[i].latlng;
                moveAndCircle(moveLatLon);

                if (windowChecker != undefined) {
                    infowindows[windowChecker].close(map, markers[windowChecker]);
                }
                infowindow.open(map, marker);
                infoColor(i);
                if(document.querySelector("#btnId_"+id).value in add_list){
                    document.querySelector("#InfobtnId_"+id).checked=true;
                }
                else {
                    document.querySelector("#InfobtnId_"+id).checked=false;
                }
                windowChecker = i;
            }

            function moveAndCircle(moveLatLon) {
                // 지도 이동
                map.setCenter(moveLatLon);
                // map.panTo(moveLatLon);

                // 지도 확대
                map.setLevel(7);
                // 지도에 표시할 원을 생성, 표시
                circle.setMap(null); // 기존 원 초기화
                circle = new kakao.maps.Circle({
                    center: moveLatLon, // 원의 중심좌표 입니다
                    radius: 5000, // 미터 단위의 원의 반지름입니다
                    strokeWeight: 1, // 선의 두께입니다
                    strokeColor: '#75B8FA', // 선의 색깔입니다
                    strokeOpacity: 0.5, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                    fillColor: '#CFE7FF', // 채우기 색깔입니다
                    fillOpacity: 0.5, // 채우기 불투명도 입니다
                });
                circle.setMap(map);
            }
        </script>
    </div>

    <!-- 선택 장소 div -->
    <div style="width: 345px; height: 630px; margin-left: 1055px">
        <div class="scrollBar" style="width: 100%; overflow-x: hidden; overflow-y: scroll; height: 580px; padding: 5px; background-color: #fff; border-radius: 10px">
            <div class="row" id="selected_title"></div>
        </div>
        <div class="d-grid gap-2" style="margin-top: 10px; padding-right: 10px">
            <button class="btn btn-primary" type="button" onclick="resetAll()">초기화</button>
            <script>
                function resetAll() {
                    if (window.confirm('초기화 하시겠습니까?')) {
                        for(var i in add_list) {
                            if(positions.findIndex((element) => element.title === i) >= 0){
                                document.querySelector('#'+add_list[i].slice(-1)[0]).checked = false;
                            }
                        }
                        document.querySelector('#selected_title').innerHTML = "";
                        deleteCookie("addlist");
                        deleteCookie("addline");
                        add_list = [];
                        linePath = [];
                        idChecker=[];
                        tmpPoly.setMap(null);
                        if(windowChecker != undefined){
                            infoClose();
                            windowChecker = undefined;
                        }
                        // window.location.reload(); // 새로고침
                    }
                }
            </script>
        </div>
    </div>
</div>
<div class="modal_back"></div>
<div class="category_back">
    <img style="width: 128px;" src="../static/img/loadingBook.gif" alt="loadingBook"> <br>
    <span class="loadingText" style="color: #000; font-size: 20pt;">장소 검색 중</span>
</div>

<!-- getCookie -->
<script>
    document.getElementById('category1').click();
    addSelected(add_list)
    createLine(linePath)
</script>

<!-- Graph공간 -->
{% block graph %}
{% endblock %}

{% endblock %}