/* 지도 인포 팝업 */
.wrap .info {
    width: 320px;
    height: 150px;
}
.info .body {
    position: relative;
    overflow: hidden;
}
.info .title {
    font-family: 'Malgun Gothic', dotum, '돋움';
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.desc .address {
    font-family: 'Malgun Gothic', dotum, '돋움';
    margin: 10px 5px 5px 5px;
    text-align: center;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.desc .phoneno {
    font-family: 'Malgun Gothic', dotum, '돋움';
    margin: 5px 5px 5px 5px;
    text-align: center;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 지도 카테고리 버튼 */
.category {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 230px;
    height: 60px;
    z-index: 10;
    font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
}

/* 스크롤바 스타일 */
.scrollBar { 
    /* width: 400px; */
    /* height: 200px; */
    overflow-y: scroll;
    }

    .scrollBar::-webkit-scrollbar {
        width: 10px;  /* 스크롤바의 너비 */
    }
    
    .scrollBar::-webkit-scrollbar-thumb {
        height: 30%; /* 스크롤바의 길이 */
        background: #217af4; /* 스크롤바의 색상 */
        
        border-radius: 10px;
    }

    .scrollBar::-webkit-scrollbar-track {
        background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
    }

    .btnM {
        width: 150px;
        height: 55px;
        /* background-color: #ffffff; */
        text-decoration: none;
        text-align: center;
        line-height: 55px;
        color: #fff;
        cursor: pointer;
    }
    .modal {
        padding: 8px;
        text-align: center;
        margin: auto;
        position: fixed;
        top: 45%;
        left: 50%;
        width: 400px;
        bottom: 200%;
        height: 700px;
        background-color: rgb(255, 255, 255);
        border-radius: 7px;
        z-index: 99;
        display: none;
    }
    .modal_on {
        display: block;
    }
    .modal_text {
        padding: 14px;
        font-weight: bold;
    }
    .modal_t {
        font-size: 20px;
        /* margin-top: 55px; */
        margin-bottom: 10px;
    }
    .modal_span {
        color: rgb(15, 15, 15);
        font-weight: 300;
    }
    .modal_info{
        color: #000;
    }
    .modal_x {
        width: 50px;
        height: 50px;
        margin-left: 337px;
        background-color: #559bfa;
        border-radius: 50px;
        color: #fff;
        line-height: 45px;
        cursor: pointer;
        position: absolute;
    }
    .modal_back {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        z-index: 11;
    }
    .back_on {
        opacity: 0.1;
        visibility: visible;
    }
    .body_lock {
        height: 100%;
        overflow: hidden;
    }
    @media (max-width: 640px) {
        .modal {
            width: 86%;
            max-height: 90%;
            overflow: scroll;
        }
    }
    